<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="padding: 0px;">
      <ion-item style="--background: transparent; color: white; --border-width: 0px;">
        <ion-label>K-POP StreamingChart</ion-label>
        <ion-select interface="popover" (ionChange)="changeDate($event)">
          <ion-select-option *ngFor="let date of dates; let i = index" [selected]="i == 0">{{ date }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-title>
  </ion-toolbar>
  <div id="youtube-div" style="position: relative; padding-top: 56.25%; display: none;">
    <iframe id="youtube-iframe" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" allowfullscreen></iframe>
  </div>
  <div id="youtube-player-option" style="display: none;">
    <span class="repeatYoutubePlay" (click)="repeatYoutubePlay()" [ngClass]="{'on': repeatFlag}"><ion-icon name="repeat"></ion-icon> Repeat play</span>
    <span class="randomRepeatYoutubePlay" (click)="randomRepeatYoutubePlay()" [ngClass]="{'on': randomRepeatFlag}"><ion-icon name="shuffle"></ion-icon> Random repeat play</span>
    <span (click)="closeYoutubePlayer()"><ion-icon name="close"></ion-icon> Close</span>
  </div>
</ion-header>

<ion-content id="youtube-content" [scrollEvents]="true" (ionScroll)="logScrolling()" padding>
  <ion-card class="youtube-content" *ngFor="let youtube of youtubeList; let i = index" (click)="playYoutube(youtube.videoId)" [ngClass]="{'active': youtube.videoId == activeVideoId}">
    <ion-img src="{{ youtube.thumbnailUrl }}" style="width: 155px; height: 87px;"></ion-img>
    <span class="ranking">{{ i + 1 }}</span>
    <span class="youtube-time">{{ youtube.time }}</span>
    <span *ngIf="!youtube.favoriteFlag" class="favorite" (click)="addFavorite(youtube.videoId, $event)"><ion-icon name="star-outline"></ion-icon></span>
    <span *ngIf="youtube.favoriteFlag" class="favorite" (click)="removeFavorite(youtube.videoId, $event)"><ion-icon name="star"></ion-icon></span>
    <ion-card-header>
      <ion-card-subtitle>{{ youtube.title }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-button id="scrollTopBtn" class="scrollTopBtn" shape="round" (click)="scrollToTop()">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-button>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>