<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Favorite - Star
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="favorite-stars-content" [scrollEvents]="true" (ionScroll)="logScrolling()" padding>
  <div *ngIf="noFavoriteContents" class="no-favorite ion-text-center">
    <div>
      There are no favorites.<br/>
      <ion-button color="tertiary" routerLink="/home" replaceUrl>Home</ion-button>
    </div>
  </div>

  <ion-searchbar *ngIf="!noFavoriteContents" [(ngModel)]="term" debounce="500" (ionChange)="search()"></ion-searchbar>

  <ion-card *ngFor="let star of stars">
    <ion-card-header>
      <ion-card-title>
        <span>{{ star.name }}</span>
        <span style="float: right;">
          <span class="share" (click)="shareStar(star)"><ion-icon name="share-alt"></ion-icon></span>
          <span class="favorite" (click)="removeFavorite(star.name)"><ion-icon name="trash"></ion-icon></span>
        </span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="star.sites">
      <span *ngIf="star.sites.officialSite" (click)="openSiteInAppBrowser(star.sites.officialSite)"><a>Official Site<ion-icon name="open"></ion-icon></a> &nbsp;</span>
      <span *ngIf="star.sites.blog" (click)="openSiteInAppBrowser(star.sites.blog)"><a>Blog<ion-icon name="open"></ion-icon></a> &nbsp;</span>
      <span *ngIf="star.sites.instagram" (click)="openSiteInAppBrowser(star.sites.instagram)"><a>Instagram<ion-icon name="open"></ion-icon></a></span>
    </ion-card-content>
    <ion-row>
      <ion-col routerLink="/youtube/{{ star.name }}">
        <ion-icon class="youtube-icon" name="logo-youtube"></ion-icon>
      </ion-col>
      <ion-col routerLink="/sns/twitter/{{ star.name }}">
        <ion-icon class="twitter-icon" name="logo-twitter"></ion-icon>
      </ion-col>
      <ion-col routerLink="/sns/facebook/{{ star.name }}">
        <ion-icon class="facebook-icon" name="logo-facebook"></ion-icon>
      </ion-col>
      <ion-col routerLink="/vlive/{{ star.name }}">
        <ion-img class="vlive-log" src="../../assets/vlive-logo.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-button id="scrollTopBtn" class="scrollTopBtn" shape="round" (click)="scrollToTop()">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-button>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
