.header-toolbar {
    --background: #3b5998;
    color: white;
}

ion-content {
    --padding-top: 3px;

    ion-fab {
        left: 20px;
        bottom: 20px;

        ion-fab-button {
            width: 36px;
            height: 36px;
        }

        ion-fab-list {
            left: -10px;
            bottom: -20px;

            .youtube-icon {
                color: red;
            }

            .twitter-icon {
                color: #1da1f2;
            }

            .person-icon {
                color: lightseagreen;
            }
        }
    }

    .facebook-users {
        overflow-x: scroll;
        overflow-y: hidden;
        
        .button-contents {
            white-space: nowrap;
            
            ion-button {
                --border-color: #3b5998;
                --color: #3b5998;
            }
            
            ion-button.selected {
                --background: #3b5998;
                --color: white;
            }
        }
    }

    #facebook-error {
        position: relative;
        top: 35%;
        text-align: center;
    }
}
    
::-webkit-scrollbar {
    display: none; 
}