<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>twitter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="tweet-content" [scrollEvents]="true" (ionScroll)="logScrolling()" padding>
  <div *ngIf="noTwitter" class="no-twitter ion-text-center">
    <div>
      There are no twitter of {{ starName }}.<br/>
      <ion-button color="tertiary" routerLink="/home" replaceUrl>Home</ion-button>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" routerLink="/vlive/{{ starName }}" replaceUrl>
        <ion-img class="vlive-log" src="../../assets/vlive-logo.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/sns/facebook/{{ starName }}" replaceUrl>
        <ion-icon class="facebook-icon" name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/youtube/{{ starName }}" replaceUrl>
        <ion-icon class="youtube-icon" name="logo-youtube"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="openModal()">
        <ion-icon class="person-icon" name="person"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="tweet-users">
    <div class="button-contents">
      <ion-button fill="outline" size="small" *ngFor="let twitter of twitterList" [ngClass]="{ 'selected': activatedTweet == twitter.tweetName}"
        (click)="twitterWidgetInit(twitter.timelineUrl, twitter.tweetName, twitter.userName)">
        {{ twitter.userName }}
      </ion-button>
    </div>
  </div>

  <div id="twitter-timeline"></div>
  <div id="twitter-error"></div>

  <ion-button id="scrollTopBtn" class="scrollTopBtn" shape="round" (click)="scrollToTop()">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-button>
</ion-content>