.header-toolbar {
    --background: #1da1f2;
    color: white;
}

.tweet-users {
    overflow-x: scroll;
    overflow-y: hidden;

    .button-contents {
        white-space: nowrap;

        ion-button {
            --border-color: #1da1f2;
            --color: #1da1f2;
        }

        ion-button.selected {
            --background: #1da1f2;
            --color: white;
        }
    }
}

::-webkit-scrollbar {
    display: none; 
}

ion-content {
    --padding-top: 3px;

    ion-fab {
        left: 20px;
        bottom: 20px;

        ion-fab-button {
            width: 36px;
            height: 36px;
        }

        ion-fab-list {
            left: -10px;
            bottom: -20px;

            .youtube-icon {
                color: red;
            }
        
            .facebook-icon {
                color: #3b5998;
            }

            .person-icon {
                color: lightseagreen;
            }
        }
    }

    #twitter-error {
        position: relative;
        top: 35%;
        text-align: center;
    }

    .scrollTopBtn {
        display: none;
        position: fixed;
        right: 20px;
        bottom: 20px;
        --padding-start: 8px;
        --padding-end: 8px;
    }
}