<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>twitter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="tweet-content" [scrollEvents]="true" (ionScroll)="logScrolling()" padding>
  <div class="tweet-users">
    <div class="button-contents">
      <ion-button fill="outline" size="small" *ngFor="let twitter of twitterList | async" [ngClass]="{ 'selected': activatedTweet == twitter.tweetName}"
        (click)="twitterWidgetInit(twitter.timelineUrl, twitter.tweetName)">
        {{ twitter.userName }}
      </ion-button>
    </div>
  </div>
  <div id="twitter-timeline"></div>
  <ion-button id="scrollTopBtn" class="scrollTopBtn" shape="round" (click)="scrollToTop()">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-button>
</ion-content>