<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Youtube
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="youtube-content" [scrollEvents]="true" (ionScroll)="logScrolling()" padding>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" routerLink="/vlive/{{ starName }}" replaceUrl>
        <ion-img class="vlive-log" src="../../assets/vlive-logo.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/sns/facebook/{{ starName }}" replaceUrl>
        <ion-icon class="facebook-icon" name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/sns/twitter/{{ starName }}" replaceUrl>
        <ion-icon class="twitter-icon" name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="openModal()">
        <ion-icon class="person-icon" name="person"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div class="youtube-sort">
    <div class="button-contents">
      <ion-button fill="outline" size="small" [ngClass]="{ 'selected': allSort }" (click)="youtubeSorting('ALL')">All</ion-button>
      <ion-button fill="outline" size="small" [ngClass]="{ 'selected': mvSort }" (click)="youtubeSorting('MV')">MV</ion-button>
      <ion-button fill="outline" size="small" [ngClass]="{ 'selected': fanCamSort }" (click)="youtubeSorting('FanCam')">FanCam</ion-button>
      <ion-button fill="outline" size="small" [ngClass]="{ 'selected': stageMixSort }" (click)="youtubeSorting('StageMix')">StageMix</ion-button>
      <ion-button fill="outline" size="small" [ngClass]="{ 'selected': dancePracticeSort }" (click)="youtubeSorting('DancePractice')">DancePractice</ion-button>
    </div>
  </div>
  <ng-container *ngIf="youtubeListObserver">
    <div>youtubeListObserver</div>
    <ion-card class="youtube-content" *ngFor="let youtube of youtubeListObserver | async | search : terms" (click)="playYoutube(youtube.videoId)">
      <ion-img src="{{ youtube.thumbnailUrl }}" style="width: 155px; height: 87px;"></ion-img>
      <span class="youtube-time">{{ youtube.time }}</span>
      <span class="favorite" (click)="addFavorite(youtube.videoId, $event)"><ion-icon name="star-outline"></ion-icon></span>
      <ion-card-header>
        <ion-card-subtitle>{{ youtube.title }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!youtubeListObserver">
    <div>!youtubeListObserver</div>
    <ion-card class="youtube-content" *ngFor="let youtube of youtubeList | search : terms" (click)="playYoutube(youtube.videoId)">
      <ion-img src="{{ youtube.thumbnailUrl }}" style="width: 155px; height: 87px;"></ion-img>
      <span class="youtube-time">{{ youtube.time }}</span>
      <span class="favorite" (click)="addFavorite(youtube.videoId, $event)"><ion-icon name="star-outline"></ion-icon></span>
      <ion-card-header>
        <ion-card-subtitle>{{ youtube.title }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-container>
  <ion-button id="scrollTopBtn" class="scrollTopBtn" shape="round" (click)="scrollToTop()">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-button>
</ion-content>