<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Youtube<span *ngIf="starName != 'fullList'"> - {{ starName }}</span>
    </ion-title>
  </ion-toolbar>
  <div id="youtube-div" style="position: relative; padding-top: 56.25%; display: none;">
    <iframe id="youtube-iframe" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" allowfullscreen></iframe>
  </div>
  <div id="youtube-player-option" style="display: none;">
    <ion-icon *ngIf="repeatStatus == 0" name="repeat" (click)="changeRepeatStatus()"></ion-icon>
    <ion-icon *ngIf="repeatStatus == 1" name="repeat" (click)="changeRepeatStatus()" style="color: coral;"></ion-icon>
    <ion-icon *ngIf="repeatStatus == 2" name="shuffle" (click)="changeRepeatStatus()" style="color: coral;"></ion-icon>
    <ion-icon *ngIf="repeatStatus == 3" name="repeat" (click)="changeRepeatStatus()" style="color: coral;"></ion-icon><span *ngIf="repeatStatus == 3" class="icon-overlay-text">1</span>
    <ion-icon name="skip-backward" (click)="skipBackwardYoutubePlay()"></ion-icon>
    <ion-icon *ngIf="stopFlag == 'F'" name="pause" (click)="pauseYoutubePlay()"></ion-icon>
    <ion-icon *ngIf="stopFlag == 'T'" name="play" (click)="playYoutubePlay()"></ion-icon>
    <ion-icon name="skip-forward" (click)="skipForwardYoutubePlay()"></ion-icon>
    <ion-icon name="expand" (click)="fullScreenYoutubePlay()"></ion-icon>
    <span class="last" (click)="closeYoutubePlayer()"><ion-icon name="close"></ion-icon> Close</span>
    <input id="repeatStatusInput" type="hidden" value="{{ repeatStatus }}">
    <input type="hidden" id="stopFlag" [(ngModel)]="stopFlag">
  </div>
</ion-header>

<ion-content id="youtube-content" [scrollEvents]="true" (ionScroll)="logScrolling()">
  <ion-fab *ngIf="starName != 'fullList'" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" routerLink="/vlive/{{ starName }}" replaceUrl>
        <ion-img class="vlive-log" src="../../assets/vlive-logo.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/sns/facebook/{{ starName }}" replaceUrl>
        <ion-icon class="facebook-icon" name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/sns/twitter/{{ starName }}" replaceUrl>
        <ion-icon class="twitter-icon" name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="openModal()">
        <ion-icon class="person-icon" name="person"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="youtube-sort-type">
    <ion-item>
      <div><ion-icon name="funnel"></ion-icon></div>
      <ion-select interface="popover" [(ngModel)]="sortType" (ionChange)="changeSortType()">
        <ion-select-option selected value="R">Recently Popular</ion-select-option>
        <ion-select-option value="M">Most Viewed</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="youtube-sort" *ngIf="sortType == 'M'">
    <div class="button-contents">
      <ion-button fill="outline" size="small" [ngClass]="{ 'selected': allSort }" (click)="youtubeSorting('ALL')">All</ion-button>
      <ion-button fill="outline" size="small" [ngClass]="{ 'selected': mvSort }" (click)="youtubeSorting('MV')">MV</ion-button>
      <ion-button fill="outline" size="small" [ngClass]="{ 'selected': fanCamSort }" (click)="youtubeSorting('FanCam')">FanCam</ion-button>
      <ion-button fill="outline" size="small" [ngClass]="{ 'selected': stageMixSort }" (click)="youtubeSorting('StageMix')">StageMix</ion-button>
      <ion-button fill="outline" size="small" [ngClass]="{ 'selected': dancePracticeSort }" (click)="youtubeSorting('DancePractice')">DancePractice</ion-button>
      <ion-button fill="outline" size="small" [ngClass]="{ 'selected': lyricsSort }" (click)="youtubeSorting('Lyrics')">Lyrics</ion-button>
    </div>
  </div>

  <div style="clear: both;">
    <ion-card class="youtube-content" [attr.data-videoId]="youtube.videoId" *ngFor="let youtube of youtubeList" (click)="playYoutubeByClick(youtube.videoId)" [ngClass]="{'active': youtube.videoId == activeVideoId}">
      <ion-img src="{{ youtube.thumbnailUrl }}" style="width: 155px; height: 87px;"></ion-img>
      <span class="youtube-time">{{ youtube.time }}</span>
      <span *ngIf="!youtube.favoriteFlag" class="favorite" (click)="addFavorite(youtube.videoId, $event)"><ion-icon name="star-outline"></ion-icon></span>
      <span *ngIf="youtube.favoriteFlag" class="favorite" (click)="removeFavorite(youtube.videoId, $event)"><ion-icon name="star"></ion-icon></span>
      <ion-card-header>
        <ion-card-subtitle>{{ youtube.title }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-button id="scrollTopBtn" class="scrollTopBtn" shape="round" (click)="scrollToTop()">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-button>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>