ion-header {
    #menu-toolbar {
        color: white;
    }

    .home {
        --background: lightseagreen;
    }

    .youtube {
        --background: red;
    }

    .twitter {
        --background: #1da1f2;
    }

    .facebook {
        --background: #3b5998;
    }

    .vlive {
        --background: #54F7FF;
        color: #464A5E !important;
    }
}

ion-content {
    .parent-menu {
        ion-label {
            ion-icon {
                float: right;
                vertical-align: middle;
                color: rgba(var(--ion-text-color-rgb,0,0,0),0.54);
            }
        }
    }

    .parent-active {
        font-weight: 500;
    }

    .sub-item {
        padding-left: 20px;
    }

    .active {
        color: lightseagreen;

        ion-icon {
            color: lightseagreen;
        }
    }
}