<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar id="menu-toolbar">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item class="home" routerDirection="root" routerLink="/home" lines="none" routerLinkActive="active" (click)="showInterstitialAd()" replaceUrl>
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item class="star" routerLink="/star" lines="none" routerLinkActive="active" (click)="showInterstitialAd()" replaceUrl>
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>K-POP Star</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item class="youtube" routerLink="/youtube/fullList" lines="none" routerLinkActive="active" (click)="showInterstitialAd()" replaceUrl>
              <ion-icon slot="start" name="logo-youtube"></ion-icon>
              <ion-label>K-POP Youtube</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item class="youtube" routerLink="/streamingchart" lines="none" routerLinkActive="active" (click)="showInterstitialAd()" replaceUrl>
              <ion-icon slot="start" name="musical-note"></ion-icon>
              <ion-label>K-POP Streaming Chart</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item (click)="favoriteMenuOpen = !favoriteMenuOpen" [class.parent-active]="favoriteMenuOpen" class="parent-menu" lines="none" routerLinkActive="active">
            <ion-icon slot="start" name="star"></ion-icon>
            <ion-label>
              Favorites
              <ion-icon slot="end" name="add" *ngIf="!favoriteMenuOpen"></ion-icon>
              <ion-icon slot="end" name="remove" *ngIf="favoriteMenuOpen"></ion-icon>
            </ion-label>
          </ion-item>
          <ion-list *ngIf="favoriteMenuOpen">
            <ion-menu-toggle>
              <ion-item class="sub-item favorite" routerLink="/favorites/star" lines="none" routerLinkActive="active" (click)="showInterstitialAd()" replaceUrl>
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-label>Star</ion-label>
              </ion-item>
              <ion-item class="sub-item favorite" routerLink="/favorites/youtube" lines="none" routerLinkActive="active" (click)="showInterstitialAd()" replaceUrl>
                <ion-icon slot="start" name="logo-youtube"></ion-icon>
                <ion-label>Youtube</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="shareApp()" lines="none" routerLinkActive="active">
              <ion-icon slot="start" name="share"></ion-icon>
              <ion-label>Share</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" routerLinkActive="active" href="https://play.google.com/store/apps/details?id=com.rhslvkf.kpopstarcollection">
              <ion-icon slot="start" name="analytics"></ion-icon>
              <ion-label>Rate App</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="toDeveloper()" lines="none" routerLinkActive="active">
              <ion-icon slot="start" name="send"></ion-icon>
              <ion-label>To developer</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
