.header-toolbar {
  --background: lightseagreen;
  color: white;
}

ion-content {
  --background: #ebebeb;

  ion-item {
    padding: 10px;
    --box-shadow: 0px 0px 5px 0px aquamarine;

    ion-icon {
      color: lightseagreen;
    }
  }
}