<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item routerLink="/star" lines="none" (click)="showInterstitialAd()">
    <ion-icon slot="start" name="people"></ion-icon>
    <ion-label>K-POP Star</ion-label>
  </ion-item>
  <ion-item routerLink="/youtube/fullList" lines="none" (click)="showInterstitialAd()">
    <ion-icon slot="start" name="logo-youtube"></ion-icon>
    <ion-label>K-POP Youtube</ion-label>
  </ion-item>
  <ion-item routerLink="/streamingchart" lines="none" (click)="showInterstitialAd()">
    <ion-icon slot="start" name="musical-note"></ion-icon>
    <ion-label>K-POP Streaming Chart</ion-label>
  </ion-item>
  <ion-item routerLink="/favorites/star" lines="none" (click)="showInterstitialAd()">
    <ion-icon slot="start" name="person"></ion-icon>
    <ion-label>Favorites - Star</ion-label>
  </ion-item>
  <ion-item routerLink="/favorites/youtube" lines="none" (click)="showInterstitialAd()">
    <ion-icon slot="start" name="logo-youtube"></ion-icon>
    <ion-label>Favorites - Youtube</ion-label>
  </ion-item>
</ion-content>